node_modules/
.env
apps/api/src/generated/prisma/
npm-debug.log*
dist/
coverage/
docs/*
!docs/architecture/
!docs/architecture/**
!docs/prototypes/
!docs/prototypes/**
!docs/security/
!docs/security/**
*.tsbuildinfo
